h1{
   color: white;
    
}

body{
    background-color: black;
    color:white;
    
}

form{
    margin:auto;
    text-align:center;
    max-width:350px;
    padding:15px;
    border:solid 2px #ff004f;
    background-color: black;
    border-radius: 5px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
    
}
button{
    margin-top:15px;
    background-color: rgb(13, 19, 34);
    color: #ff004f;
    cursor:pointer;
    padding:10px 20px;
    border-radius:5px;
    font-weight: bolder;
    box-shadow: 2px 2px 5px;

}

button:hover{
    background-color: azure;
}

#textBox{
    border:solid 2px black;
    font-size: 1.75em;
    text-align: center;
}

#result{
    font-size: 2em;
    color:white;
    font-weight: bolder;
}

