body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px; /* Add padding to provide space around the edges */
}
#myH1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-bottom: 20px; /* Add margin at the bottom */
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 30px;
    border-color: #ff004f;
    padding:30px;
    background-color: white;
    width: 80%; /* Set width to a percentage for responsiveness */
    max-width: 500px; /* Limit maximum width for larger screens */
}
#display{
    font-size: 4rem;
    font-family: monospace;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 25px;
}
#controls button{
    font-size:1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color:black;
    transition: background-color 0.5s ease;
}
#startBtn{
    background-color: rgb(31, 167, 38);
}
#startBtn:hover{
    background-color: rgb(41, 252, 51);
    color:white;
}
#stopBtn{
    background-color: rgb(253, 134, 134);
}
#stopBtn:hover{
    background-color: rgb(199, 4, 4);
    color:white;
}
#resetBtn{
    background-color: grey;
}
#resetBtn:hover{
    background-color: black;
    color:white;
}
@media (max-width:768px) {
    #controls button{
        width:100px;
        padding:5px 10px;
        font-size:1,5rem;
    }
}
@media (max-width:480px) {
    #display {
        font-size: 3rem;
         }
    #controls button{
        padding:5px 10px;
        font-size:1rem;
        width:75px
    }
}