#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    border:2px solid  #ff004f;
    border-radius: 4px;
    box-shadow:5px 5px 15px;
    background-color: black;
    margin-top:20px;
    color:white;    
}
button{
    font-size: 1.5rem;
    padding:10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #ff004f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin:15px;
}
button:hover{
    background-color: #ff0015;
}
button:active{
    background-color:  rgb(9, 60, 170);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
    border-radius:4px;
}
#diceImages img{
    max-width: 300px;
    margin:20px 0px;
    border:none;
}
body{
    max-width: 350px;
    margin:auto;
    background-color: black;
}
@media (max-width:480px) {
    #diceImages img {
        height:200px;
    }
}